*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
section{
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.clock{
    height: 400px;
    width: 90%;
    max-width: 400px;
    border-radius: 50%;
   background-image: url(./images/clock-bg.png);
   background-position: center;
   background-size: contain;
    position: relative;
    background-color: 
    
}
.hour,
.min,
.sec{
    position: absolute;
    top:50%;
    left:50%;
    height: 5px;
    width:45%;
    background-color:black;
    border-radius: 50%;
    transform-origin: left;


}
.sec{
    width:45%;
}
.min{
    width: 40%;
}
.hour{
    width: 30%;
}